.container_login{
    padding: 32px;
    background-color: var(--bg-white);
    z-index: 10;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    font-family: Hel;
}
.img_login{
    width: 203px;
}
.form_login{
    display:flex;
    flex-direction:column;
    width: 480px;
}
.bg_img_login{
    background-color: var(--main-bg-four);
    margin: -32px -32px -32px 32px;
    padding: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.inputLogin{
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px var(--main-border);
    font-size: 13px;
    height: 48px;
}
.inputLogin:focus{
    outline: none;
}
.btnLogin{
    font-size: 15px;
    color: var(--main-txt-bt);
    background-color: var(--main-bg-secondary);
    border: none;
    border-radius: 3px;
    margin-top: 26px;
    padding: 8px;
}
.btnLogin:hover{
    opacity: 0.8;
}
.txtlogin{
    font-size: 13px;
    margin-top: 16px;
    color: var(--main-bg-four);
    cursor: pointer;
}
.txtLink{
    color: black;
}
.my-facebook-button-class{
    border: none;
    background-color: var(--main-bg-four);
    width: 46px;
    height: 46px;
    border-radius: 23px;
    cursor: pointer;
    color: var(--bg-white);
    margin: 0 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-facebook-button-class:hover{
    opacity: 0.5;
}
.my-phone-button-class{
    border: none;
    background-color: var(--main-bg-secondary);
    width: 46px;
    height: 46px;
    border-radius: 23px;
    cursor: pointer;
    color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    font-size: 16px;
}
.my-phone-button-class:hover{
    opacity: 0.5;
}
.txtline{
    color: var(--main-border);
    margin: 16px 0;
    text-align: center;
    width: '100%';
}
.row_login{
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: '100%';
}
.container_splash{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 80px;
}
