@font-face {
    font-family: Hel;
    src: url(../font/Helvetica.ttf);
}
@font-face {
    font-family: Hel_Bold;
    src: url(../font/Helvetica-Bold.ttf);
}
@font-face {
    font-family: Hel_light;
    src: url(../font/helvetica-light-587ebe5a59211.ttf);
}
:root {
    --main-bg: #00CBFF;
    --main-bg-primary:   #008FB3;
    --main-bg-secondary:   #FF8800;
    --main-bg-three: #B34100;
    --main-bg-four: #00ABFF;

    --main-txt: #000000;
    --main-txt-bt: #ffffff;
    --bg-white: #ffffff;
    --bg-gray: #fafafa;
    --main-border:#E3E3E3;
}